<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_Stripe>
            <version>1.0.0</version>
        </MageAustralia_Stripe>
    </modules>
    <global>
        <models>
            <stripe>
                <class>MageAustralia_Stripe_Model</class>
                <resourceModel>stripe_resource</resourceModel>
            </stripe>
            <stripe_resource>
                <class>MageAustralia_Stripe_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>mageaustralia_stripe_transactions</table>
                    </transaction>
                </entities>
            </stripe_resource>
        </models>
        <blocks>
            <stripe>
                <class>MageAustralia_Stripe_Block</class>
            </stripe>
        </blocks>
        <helpers>
            <stripe>
                <class>MageAustralia_Stripe_Helper</class>
            </stripe>
        </helpers>
        <resources>
            <stripe_setup>
                <setup>
                    <module>MageAustralia_Stripe</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stripe_setup>
        </resources>
        <payment>
            <groups>
                <stripe>Stripe Payment Methods</stripe>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <stripe_payment>
                <use>standard</use>
                <args>
                    <module>MageAustralia_Stripe</module>
                    <frontName>stripe_payment</frontName>
                </args>
            </stripe_payment>
        </routers>
        <translate>
            <modules>
                <MageAustralia_Stripe>
                    <files>
                        <default>MageAustralia_Stripe.csv</default>
                    </files>
                </MageAustralia_Stripe>
            </modules>
        </translate>
        <layout>
            <updates>
                <stripe>
                    <file>mageaustralia_stripe.xml</file>
                </stripe>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <stripe_restore_quote>
                        <type>singleton</type>
                        <class>MageAustralia_Stripe_Model_Observer</class>
                        <method>restoreQuoteWhenReturningFromStripe</method>
                    </stripe_restore_quote>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <stripe_admin after="Mage_Adminhtml">MageAustralia_Stripe_Adminhtml</stripe_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MageAustralia_Stripe>
                    <files>
                        <default>MageAustralia_Stripe.csv</default>
                    </files>
                </MageAustralia_Stripe>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <stripe>
                <active>0</active>
                <mode>test</mode>
                <order_status_pending>pending</order_status_pending>
                <order_status_processing>processing</order_status_processing>
                <debug>1</debug>
            </stripe>
            <stripe_card>
                <active>0</active>
                <model>stripe/method_card</model>
                <title>Credit / Debit Card</title>
                <sort_order>10</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
                <integration_mode>checkout</integration_mode>
            </stripe_card>
            <stripe_ideal>
                <active>0</active>
                <model>stripe/method_ideal</model>
                <title>iDEAL</title>
                <sort_order>20</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_ideal>
            <stripe_bancontact>
                <active>0</active>
                <model>stripe/method_bancontact</model>
                <title>Bancontact</title>
                <sort_order>30</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_bancontact>
            <stripe_klarna>
                <active>0</active>
                <model>stripe/method_klarna</model>
                <title>Klarna</title>
                <sort_order>40</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_klarna>
            <stripe_paypal>
                <active>0</active>
                <model>stripe/method_paypal</model>
                <title>PayPal</title>
                <sort_order>50</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_paypal>
            <stripe_sepa>
                <active>0</active>
                <model>stripe/method_sepa</model>
                <title>SEPA Direct Debit</title>
                <sort_order>60</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_sepa>
            <stripe_applepay>
                <active>0</active>
                <model>stripe/method_applepay</model>
                <title>Apple Pay</title>
                <sort_order>70</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_applepay>
            <stripe_googlepay>
                <active>0</active>
                <model>stripe/method_googlepay</model>
                <title>Google Pay</title>
                <sort_order>80</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_googlepay>
            <stripe_link>
                <active>0</active>
                <model>stripe/method_link</model>
                <title>Stripe Link</title>
                <sort_order>90</sort_order>
                <group>stripe</group>
                <allowspecific>0</allowspecific>
            </stripe_link>
        </payment>
    </default>
</config>
